<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Store Cart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"></div>
    <h2>Shopping cart</h2>
    <span th:if="${orderItems.size() == 0}">Cart is empty</span>
    <table th:if="${orderItems.size() > 0}" class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price, руб.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItem : ${orderItems}">
            <td th:text="${orderItem.product.id}"></td>
            <td th:text="${orderItem.product.title}"></td>
            <td th:text="${orderItem.product.price}"></td>
        </tr>
        </tbody>
    </table>
    <div sec:authorize="isAnonymous()" th:if="${orderItems.size() > 0}">
        <p>To make order, please, <a class="btn btn-success" th:href="@{/login}">Login</a></p>
    </div>
    <a class="btn btn-success" sec:authorize="isAuthenticated()" th:if="${orderItems.size() > 0}"
       th:href="@{/orders/create_order}">Make order</a>
</div>
</body>
</html>