<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!-- <head> -->
 <!-- <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Store Navigation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head> -->

<body>
    <div th:fragment="navigation(activeTab)">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" style="color: #457725;" href="/">&#127807;
<!--                 <img src="images/programming.gif">-->
            </a>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/shop}">Shop</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/cart}">Cart</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('SELLER') or hasRole('USER')">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link btn btn-success" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-info" value="Logout"/>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>